<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터</title>
    <link rel="stylesheet" href="/Basic/help.css">
</head>

<body>

    <div class="container">
        <div class="top-menu">
            <div class="left">
                <button id="buttonhome">홈으로</button>
            </div>
        </div>

        <div id="home" class="content">
            <img src="/pic/Group 22.png" alt="logo" class="logo">
            <h1>무엇을 도와드릴까요?</h1>
            <p>화면을 클릭하거나 하단으로 내려보세요</p>
        </div>

        <div class="tags">
            <a class="tag" href="#usage">화면사용</a>
            <a class="tag" href="#signup">회원가입</a>
            <a class="tag" href="#login">로그인</a>
        </div>

        <div class="tags">
            <a class="tag" href="#bookmark">학습진도저장</a>
            <a class="tag" href="#kiosk">키오스크체험</a>
            <a class="tag" href="#game">낱말게임</a>
        </div>

        <div class="sections">
            <div id="usage" class="section">
                <img src="pic/help/kiosk_education.png" alt="kiosk_education" class="icon">
                <h2>화면사용방법</h2>
            </div>
            <div class="img">
                <div class="img text">
                    <p>1. 화면을 터치해서 원하는 내용의 시작하기 버튼을 눌러주세요.</p>
                </div>
                <img src="pic/help/화면사용방법.gif" alt="화면사용방법" class="화면사용방법">
            </div>

            <div id="signup" class="section">
                <img src="pic/help/user.png" alt="user" class="icon">
                <h2>회원가입</h2>
            </div>
            <div class="img">
                <div class="img text">
                    <p>1. 회원가입/로그인을 눌러주세요</p>
                </div>
                <img src="pic/help/help1.gif" alt="회원가입" class="회원가입">
                <div class="img text">
                    <p>2. 하단에 파란 글씨를 눌러주세요</p>
                </div>
                <img src="pic/help/help2.gif" alt="회원가입1" class="회원가입">
                <div class="img text">
                    <p>3. 각 박스에 글씨를 채우고 버튼을 눌러주세요</p>
                </div>
                <img src="pic/help/help3.gif" alt="회원가입2" class="회원가입">
            </div>

            <div id="login" class="section">
                <img src="pic/help/login.png" alt="login" class="icon">
                <h2>로그인</h2>
            </div>
            <div class="img">
                <div class="img text">
                    <p>1. 회원가입/로그인을 눌러주세요</p>
                </div>
                <img src="pic/help/로그인0_0.gif" alt="로그인" class="로그인">
            </div>
            <div class="img">
                <div class="img text">
                    <p>2. 회원가입 시 입력한 별명과 비밀번호를 입력해주세요</p>
                </div>
                <img src="pic/help/로그인_0.gif" alt="로그인" class="로그인">
            </div>
            <div class="img">
                <div class="img text">
                    <p>2. 박스에 모두 입력 후 "로그인" 버튼을 눌러주세요 </p>
                </div>
                <img src="pic/help/로그인_1.gif" alt="로그인" class="로그인">
            </div>

            <div id="bookmark" class="section">
                <img src="pic/help/kiosk_education.png" alt="kiosk_education" class="icon">
                <h2>학습진도저장</h2>
            </div>

            <div id="kiosk" class="section">
                <img src="pic/help/learning.png" alt="learning" class="icon">
                <h2>키오스크체험</h2>
            </div>
            <div class="img text">
                <p>1. 버튼을 눌러주세요</p>
            </div>
            <div class="img">
                <img src="pic/help/01_메인실습.gif" alt="키오스크체험" class="키오스크체험">

                <div class="img text">
                    <p>2. 실습은 기초와 심화가 있습니다.</p>
                </div>
                <img src="pic/help/02_실습기초.gif" alt="키오스크체험" class="키오스크체험">
            </div>

            <div class="img text">
                <p>3. 예시는 기초로 진행하였고 병원으로 진행하였습니다.</p>

                <img src="pic/help/03_실습병원.gif" alt="키오스크체험" class="키오스크체험">
            </div>
            <div class="img text">
                <p>4. 노랑색으로 바뀌는 버튼으로 클릭을 해봅니다.</p>

                <img src="pic/help/04_1병원연습_노랑버튼o.gif" alt="키오스크체험" class="img text">
            </div>
            <div class="img text">
                <p> 5.노랑 버튼 외에 다른버튼을 누르면 눌리지 않습니다!</p>

                <img src="pic/help/04_2병원연습_노랑버튼x.gif" alt="키오스크체험" class="키오스크체험">
            </div>
            <div id="game" class="section">
                <img src="pic/help/game.png" alt="game" class="icon">
                <h2>낱말게임</h2>
            </div>
            <div class="img text">
                <p>1. 버튼을 눌러주세요</p>
            </div>
            <div class="img">
                <img src="pic/help/help2-2.gif" alt="낱말게임" class="낱말게임">

                <div class="img text">
                    <p>2. 음식 이름과 음식사진을 터치해서 선을 그어 연결해주세요</p>
                </div>
                <img src="pic/help/help2-1.gif" alt="낱말게임1" class="낱말게임">
            </div>
            <p>3. 체험이 완료되면 학습했던 내용들을 확인할 수 있습니다.</p>
        </div>

        <img src="pic/help/help2-3.gif" alt="낱말게임1" class="낱말게임">
    </div>
    <!-- </div>
    </div>
    </div> -->

    <script>
        document.getElementById('buttonhome').addEventListener('click', () => {
            location.href = '/';
        });

    </script>
</body>

</html>