<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>키오스크 카테고리</title>
    <link rel="stylesheet" href="/Basic/study.css">
</head>
<body>
    <div class="hospital-container">
        <header>
            <div class="head-button">
                <button id="head_learn_bt">◀ 이전으로</button>
            </div>
            <div class="headText">
                <img src="/pic/Group 22.png" alt="" id="headImg">
                <h2 id="title">일단 이거 세번만 해볼까요?</h2>
                <h3 id="subtitle">어떤 키오스크 학습을 진행 하시겠습니까?</h3>
            </div>
        </header>
        <div class="options">
            <div class="option" id="KioskMacStart">
                <img src="/pic/식당.png" alt="#">
                <p>음식점</p>
            </div>
            <div class="option" id="KioskHpStart">
                <img src="/pic/병원.png" alt="">
                <p>병원</p>
            </div>
            <div class="option" id="KioskOpStart">
                <img src="/pic/school.png" alt="">
                <p>행정</p>
            </div>
            <div class="option" id="KioskTrStart">
                <img src="/pic/bus.png" alt="">
                <p>교통</p>
            </div>
        </div>
        <footer>
            <p id="footerText">일단 이거 세번 해볼까요?</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/study.js"></script>
</body>
</html>
