@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* 모든 요소에 폰트 적용 */
* {
    font-family: 'Freesentation-9Black', sans-serif;
    font-weight: 900;
}

/* 기본 폰트 사이즈 설정 */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* 열 방향으로 정렬 */
    justify-content: center;
    /* 수직 중앙 정렬 */
    align-items: center;
    /* 수평 중앙 정렬 */
    background-color: #f0f0f0;
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #aa6fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}

.section {
    margin-bottom: 40px;
}

.section img {
    vertical-align: middle;
    margin-right: 10px;
}

.section-title {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 20px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}

.gridH {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #aa6fff;
}

.gridH-item {
    line-height: 30px;
    align-items: flex-start;
    /* 텍스트를 위에서부터 시작 */
    justify-content: center;
    /* 수평 중앙 정렬 */
    padding-top: 20px;
    color: black;
    text-decoration: none;
    flex: 1 1 calc(25% - 10px);
    min-width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    align-items: center;
}

.gridH-item:hover {
    background-color: #aa6fff;
}

.gridH-item.empty {
    background-color: #f9f9f9;
    border: 2px dashed #aa6fff;
}

@media (max-width: 600px) {
    .grid-item {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 400px) {
    .grid-item {
        flex: 1 1 100%;
    }
}

.gridM {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #aa6fff;
}

.gridM-item {
    line-height: 30px;
    align-items: flex-start;
    /* 텍스트를 위에서부터 시작 */
    justify-content: center;
    /* 수평 중앙 정렬 */
    padding-top: 20px;
    text-decoration: none;
    flex: 1 1 calc(25% - 10px);
    min-width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.gridM-item:hover {
    background-color: #aa6fff;
}

.gridM-item.empty {
    background-color: #f9f9f9;
    border: 2px dashed #aa6fff;
}