@keyframes blinkingBorder {
    0% {
        border-color: red;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: red;
    }
}

.blinkingBorder {
    animation: blinkingBorder 2s infinite;
    border-style: dashed;
    border-width: 7px;
}

.missionModal{
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 100;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#selectSetInfo{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
}

#selectBugerBar{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
}

#selectSetModal{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
}

#selectSideModal {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
}

#selectBeverageModal {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
}

#selectCartModal{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
}

#selectpaymentModal{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
}

#selectEndModal{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
}

#selectorderNumModal{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
}

#selectOrdering{
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
}

#selectPlace{
    top: 0;
    left: 0;
    display: none;
    position: fixed;
}

#lodingPlace{
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
}

#spinner {
    margin: calc(50% - 25px) auto;
    width: 300px;
    height: 300px;
    border: 20px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-top-color: rgb(170, 111, 255);
    border-radius: 100%;

    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    100%
    {
    transform: rotate(360deg);
    }
}

.missionModalContent{
    position: relative;
    width: 50vw;
    height: 40vh;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: solid 3px #ffe600;
    background-color: white;
}

.missionModalContent img{
    width: 15vw;
}

.missionModalContent p{
    font-size: 1.8em;
}

.pContainer {
    /* p 태그 컨테이너 스타일 */
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    height: 40%; /* 부모 요소의 전체 높이 사용 */
}

.missionModalContent button{
    position: absolute; /* 부모 요소에 절대적 위치 */
    bottom: 45px; /* 하단에서 30px */
    left: 50%; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 가운데 정렬 */
    background-color: #ffe600;
    border-radius: 20px;
    border: solid 3px black;
    font-size: 30px;
    height: 5vh;
    width: 80%;
}

