body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Jalnan', sans-serif;
    background-color: #f4f4f4;
    font-size: 20px; /* 기본 폰트 크기 조정 */
    background-image: url('/hospitalImg/bg2.png'); /* 배경 이미지 추가 */
    background-size: cover; /* 배경 이미지가 화면을 덮도록 설정 */
    background-position: center;
}

@font-face {
    font-family: 'Jalnan'; 
    src: url('/font/JalnanGothicTTF.ttf') format('truetype');
}

.hospitalContainer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* White background with transparency */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    /* Padding adjustment */
    max-width: 90%;
    /* Maximum width adjustment */
    width: 600px;
    min-height: 90vh;
    /* Minimum height setting */
    display: flex;
    flex-direction: column;
    /* Arrange children vertically */
    position: relative;
}

.headButton {
    position: absolute;
    top: 10px; /* 버튼 위치 조정 */
    left: 0px; /* 버튼 위치 조정 */
}

#headLearnBt {
    position: relative;
    bottom: 15px;
    font-family: 'Jalnan';
    border-radius: 5%;
    font-size: 18px;
    background-color: #053f79cc;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#headLearnBtRight {
    position: relative;
    left: 191px;
    bottom: 15px;
    font-family: 'Jalnan';
    border-radius: 5%;
    font-size: 18px;
    /* 버튼 폰트 크기 조정 */
    background-color: #053f79cc;
    /* 군청색 배경 */
    cursor: pointer;
    padding: 5px 10px;
    /* 버튼 패딩 조정 */
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 230px;
}

#headImgBtn {
    position: relative;
    top: 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0px;
}

#headImg {
    width: 40px;
    height: 40px;
}

.headButton {
    position: absolute;
    top: 10px;
    left: 0px;
}

h1 {
    margin-top: 70px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 34px; /* 폰트 크기 조정 */
    margin-top: 100px;
    margin-bottom: 20px; /* 줄과 아래 요소 간의 간격 조정 */
    width: 100%; /* 전체 너비 차지 */
    box-sizing: border-box; /* 패딩과 경계가 전체 너비에 포함되도록 설정 */
}

.options {
    display: flex;
    flex-direction: column; /* 수직 방향으로 배치 */
    align-items: center;
    justify-content: flex-start; /* 상단 정렬 */
    gap: 20px; /* 간격 조정 */
    flex-grow: 1;
    width: 100%; /* 전체 너비 차지 */
}

.option {
    background-color: #5b98ce2c;
    border-radius: 8px;
    padding: 20px;
    width: 93%; /* 버튼 너비 조정 */
    max-width: 665px; /* 최대 너비 설정 */
    height: 665px; /* 높이를 자동으로 조정 */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column; /* 수직 방향으로 배치 */
    align-items: center; /* 중앙 정렬 */
    overflow: hidden;
}

.buttonContainer {
    display: flex;
    justify-content: center; /* 버튼을 수평으로 가운데 정렬 */
    gap: 20px; /* 버튼 사이 간격 */
    width: 100%; /* 부모 요소의 전체 너비 사용 */
}

button:active {
    transform: translateY(4px);
}

@media (max-width: 768px) {
    .hospital-container {
        max-width: 90%; /* 모바일 화면에서는 너비를 더 넓게 사용 */
    }
}
.footer {
    margin-top: 30px; /* 위쪽 여백을 조정하여 입력 필드와의 간격을 넓힘 */
    font-size: 18px; /* 폰트 크기 조정 */
    text-align: center; /* 중앙 정렬 */
}

.yonBtn {
    font-family: 'Jalnan';
    background-color: #E9F2F2; /* 버튼 배경색 */
    color: rgb(24, 2, 2); /* 버튼 텍스트 색상 */
    border-color: #e9f2f20b;
    border-radius: 50px; /* 모서리 반경 조정 */
    padding: 10px; /* 버튼 패딩 */
    cursor: pointer;
    font-size: 24px; /* 폰트 크기 조정 */
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 40%; 
    max-width: 200px; /* 최대 너비 설정 */
    height: auto; /* 높이를 자동으로 조정 */
    box-sizing: border-box; /* 패딩과 경계가 전체 너비에 포함되도록 설정 */
    display: flex;
    flex-direction: column; /* 수직 방향으로 배치 */
    align-items: center; /* 중앙 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    outline: none;
    margin-top: 240px;
}

.noBtn {
    background-color: #E9F2F2; /* 버튼 배경색 */
    color: rgb(24, 2, 2); /* 버튼 텍스트 색상 */
    border: 0.5px solid #0f21c0c9; /* 버튼 테두리 */
}

.yesBtn {
    background-color: #0f21c0c9; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    border: 0.5px solid #E9F2F2; /* 버튼 테두리 */
}

.insuranceBtn {
    font-family: 'Jalnan';
    background-color: #057939cc; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    border: none;
    border-radius: 20px;
    padding: 5px 10px; /* 버튼 패딩 */
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* 모달 스타일 */
.modal {
    display: none; /* 모달 기본은 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 모달 배경색 (어두운 반투명) */
}

.modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 화면 가운데 위치 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* 최대 너비 설정 */
    text-align: center; /* 중앙 정렬 */
    border-radius: 10px; /* 모서리 반경 */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modalh1{
    font-size: 30px;
    margin-bottom: 10px;
}

.modalc{
    margin-top: 50px;
}

.reHighlight{
    color: #0f21c0c9;
    font-size: 26px;
}

.modalp1{
    margin-bottom: -15px;
    color: #020418c9;
    font-size: 20px;
}
.modalp2{
    margin-bottom: -15px;
    color: #0f21c0c9;
    font-size: 28px;
}
.modalp3{
    margin-bottom: -10px;
    font-size: 24px;
}
.modalp4{
    margin-bottom: -10px;
    font-size: 24px;
}

.modalContainer {
    display: flex;
    justify-content: center; /* 버튼을 수평으로 가운데 정렬 */
    gap: 20px; /* 버튼 사이 간격 */
    width: 100%; /* 부모 요소의 전체 너비 사용 */
}
.modalBtn {
    font-family: 'Jalnan';
    background-color: #E9F2F2; /* 버튼 배경색 */
    color: rgb(24, 2, 2); /* 버튼 텍스트 색상 */
    border-color: #e9f2f20b;
    border-radius: 50px; /* 모서리 반경 조정 */
    padding: 10px; /* 버튼 패딩 */
    cursor: pointer;
    font-size: 24px; /* 폰트 크기 조정 */
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 40%; 
    max-width: 200px; /* 최대 너비 설정 */
    height: auto; /* 높이를 자동으로 조정 */
    box-sizing: border-box; /* 패딩과 경계가 전체 너비에 포함되도록 설정 */
    display: flex;
    flex-direction: column; /* 수직 방향으로 배치 */
    align-items: center; /* 중앙 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    outline: none;
    margin-top: 80px;
    margin-bottom: 20px;
}

.repBtn {
    background-color: #e9f2f200; /* 버튼 배경색 */
    color: rgb(27, 14, 168); /* 버튼 텍스트 색상 */
    border: 2px solid #0f21c0c9; /* 버튼 테두리 */
}

.firBtn {
    background-color: #e9f2f200; /* 버튼 배경색 */
    color: rgb(5, 2, 39); /* 버튼 텍스트 색상 */
    border: 2px solid #03072ac9; /* 버튼 테두리 */
}

.captionContainer {
    font-size: 30px;
    position: absolute;
    left: 150px;
    display: flex;
    top: 540px;
    width: 100%;
    margin-top: auto;
    padding: 20px 0;
}

.captionBox {
    border: 2px solid #1f5fbf;
    border-radius: 8px;
    padding : 32px 20px 32px 20px;
    width: fit-content;
    position: relative;
    background-color: #ffffff;
}

.captionBox::before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #1f5fbf;
    transform: rotate(45deg);
    z-index: -1;
}

.buttonText {
    color: #1f5fbf;
    font-weight: bold;
    font-size: 35px;
}

#oneGif {
    position: absolute;
    z-index: 1000;
    left: 30px;
    top: 580px;
    width: 6vh;
    height: 10vh;
}
