body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Jalnan', sans-serif;
    background-color: #f4f4f4;
    font-size: 20px;
    /* 기본 폰트 크기 조정 */
    background-image: url('/hospitalImg/bg2.png');
    /* 배경 이미지 추가 */
    background-size: cover;
    /* 배경 이미지가 화면을 덮도록 설정 */
    background-position: center;
}

@font-face {
    font-family: 'Jalnan';
    src: url('/font/JalnanGothicTTF.ttf') format('truetype');
}

.hospitalContainer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* White background with transparency */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    /* Padding adjustment */
    max-width: 90%;
    /* Maximum width adjustment */
    width: 600px;
    min-height: 90vh;
    /* Minimum height setting */
    display: flex;
    flex-direction: column;
    /* Arrange children vertically */
    position: relative;
}

#headLearnBt {
    position: relative;
    bottom: 15px;
    font-family: 'Jalnan';
    border-radius: 5%;
    font-size: 18px;
    background-color: #053f79cc;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#headLearnBtRight {
    position: relative;
    left: 191px;
    bottom: 15px;
    font-family: 'Jalnan';
    border-radius: 5%;
    font-size: 18px;
    /* 버튼 폰트 크기 조정 */
    background-color: #053f79cc;
    /* 군청색 배경 */
    cursor: pointer;
    padding: 5px 10px;
    /* 버튼 패딩 조정 */
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 230px;
}

#headImgBtn {
    position: relative;
    top: 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0px;
}

#headImg {
    width: 40px;
    height: 40px;
}

.headButton {
    position: absolute;
    top: 10px;
    left: 0px;
}

h1 {
    cursor: pointer;
    margin-top: 60px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    /* 폰트 크기 조정 */
    border-bottom: 2px solid #333;
    /* 진한 회색 줄 추가 */
    padding-bottom: 10px;
    /* 줄과 텍스트 간의 간격 조정 */
    margin-top: 20px;
    margin-bottom: 20px;
    /* 줄과 아래 요소 간의 간격 조정 */
    width: 100%;
    /* 전체 너비 차지 */
    box-sizing: border-box;
    /* 패딩과 경계가 전체 너비에 포함되도록 설정 */
}

.options {
    display: flex;
    flex-direction: column;
    /* 수직 방향으로 배치 */
    align-items: center;
    justify-content: flex-start;
    /* 상단 정렬 */
    gap: 20px;
    /* 간격 조정 */
    flex-grow: 1;
    width: 100%;
    /* 전체 너비 차지 */
}

.option {
    background-color: #5b98ce2c;
    border-radius: 8px;
    padding: 20px;
    width: 93%;
    /* 버튼 너비 조정 */
    max-width: 665px;
    /* 최대 너비 설정 */
    height: 665px;
    /* 높이를 자동으로 조정 */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    /* 수직 방향으로 배치 */
    align-items: center;
    /* 중앙 정렬 */
    overflow: hidden;
}

#headLearnBt {
    font-family: 'Jalnan';
    border-radius: 5%;
    font-size: 18px;
    /* 버튼 폰트 크기 조정 */
    background-color: #053f79cc;
    /* 군청색 배경 */
    cursor: pointer;
    padding: 5px 10px;
    /* 버튼 패딩 조정 */
    color: white;
    transition: background-color 0.3s ease, transform 0.5s ease;
}

/* button:hover {
    background-color: #dae5ef;
} */

button:active {
    transform: translateY(4px);
}

@media (max-width: 768px) {
    .hospital-container {
        max-width: 90%;
        /* 모바일 화면에서는 너비를 더 넓게 사용 */
    }
}

.footer {
    margin-top: 30px;
    /* 위쪽 여백을 조정하여 입력 필드와의 간격을 넓힘 */
    font-size: 18px;
    /* 폰트 크기 조정 */
    text-align: center;
    /* 중앙 정렬 */
}

.infoTable {
    width: 100%;
    /* 테이블 너비를 부모 요소에 맞게 설정 */
    border-collapse: collapse;
    /* 테이블 경계 중복 제거 */
    margin-top: 20px;
    /* h2와의 간격 조정 */
}

.infoTable th,
.infoTable td {
    border: 1px solid #ccc;
    /* 셀 테두리 색상 */
    padding: 10px;
    /* 셀 안쪽 여백 */
    text-align: left;
    /* 텍스트 왼쪽 정렬 */
}

.infoTable th {
    background-color: #f2f2f2;
    /* 헤더 배경색 */
    font-weight: bold;
    /* 헤더 텍스트 볼드 처리 */
}

.infoTable td {
    background-color: #ffffff;
    /* 셀 배경색 */
}

.infoTable tr:nth-child(even) td {
    background-color: #f9f9f9;
    /* 홀수 행 배경색 */
}

.infoTable tr:hover td {
    background-color: #e0e0e0;
    /* 마우스 오버 시 배경색 */
}

#completeBtn {
    font-family: 'Jalnan';
    background-color: #053f79cc;
    /* 버튼 배경색 */
    color: white;
    /* 버튼 텍스트 색상 */
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    /* 버튼 패딩 */
    cursor: pointer;
    font-size: 34px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 70px;
    /* 위쪽 요소와의 간격 조정 */
}

.captionContainer {
    font-size: 30px;
    position: absolute;
    left: 130px;
    display: flex;
    top: 830px;
    width: 100%;
    margin-top: auto;
    padding: 20px 0;
}

.captionBox {
    border: 2px solid #1f5fbf;
    border-radius: 8px;
    padding: 50px 20px;
    width: fit-content;
    position: relative;
    background-color: #ffffff;
}

.captionBox::before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #1f5fbf;
    transform: rotate(45deg);
    z-index: -1;
}

#buttonText {
    color: #1f5fbf;
    font-weight: bold;
    font-size: 35px;
}

#oneGif {
    position: absolute;
    z-index: 1000;
    left: 18px;
    top: 880px;
    width: 6vh;
    height: 10vh;
}