<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/MacDeepKio/macIndex.css">
    <link rel="stylesheet" href="/MacBasicKio/macBasicIndex.css">
    <title>Sidebar Example</title>
</head>

<body>
    <div id="kioskWrap">
        <div class="aside">
            <a href="/macBasicKioIndex"><img id="logoImg" src="/MacImg/macLogo.png"></a>
            <ul class="asideMenu">
                <li class="active"><a href="/macBasicKioIndex" id="homeText">홈</a></li>
                <li class="disable" id="liDisable"><a href="#none" id="chuText">추천메뉴</a></li>
                <li><a id="basicNum1" href="/macKiosk/macBasicBuger">버거</a></li>
                <li><a href="/macKiosk/macBasicSide" id="sideText">사이드</a></li>
                <li><a href="/macKiosk/macBasicDessert" id="dessertText">디저트</a></li>
                <li><a href="/macKiosK/macBasicBeverage" id="beverageText">음료</a></li>
            </ul>
        </div>
    {% block content %}
        <div id="homeConDiv">
            <h1 id="blockHomeText">홈</h1>
            <div class="row">
                <div class="column" id="columnMenu">추천메뉴 ⭐</div>
                <div class="column" id="columnHappy">이달의 해피 스낵 🌈</div>
            </div>
            <div class="row">
                <div class="column" id="columnBuger">버거 & 세트 🍔</div>
                <div class="column" id="columnDessert">커피 & 디저트 ☕</div>
            </div>
            <div id="fullRowDiv">
                <div class="fullRow"><img src="/MacImg/macBanner1.png" ></div>
                <div class="fullRow"><img src="/MacImg/macBanner2.png" ></div>
                <div class="fullRow"><img src="/MacImg/macBanner3.png" ></div>
            </div>
        </div>
    {% endblock %}

    <div class="cart">
        <div class="paymentBtnCon" id="mainCartDiv" >
            <h1 id="totalPrice">￦0</h1>
            <button class="CartBtn" id="paymentBtn">주문 하기</button>
        </div>
    </div>
    
    <!-- 세트 선택 모달 -->
    <div id="orderModal">
        <div class="modalContent">
            <h1 id="orderH1Text">세트로 주문하시겠습니까?</h1>
            <div class="addToCartContainer">
                <button id="addToCartS" class="addToCart">
                    <img id="burgerSetImg" src="/BugerSetImg/1955버거세트.png"><h1 id="orderBtnH1">세트선택</h1>
                </button>
                <button id="addToCartO" class="addToCart">
                    <img id="burgerSingImg" src="/BugerImg/1955버거.png"><h1 id="orderBtnH2">단품선택</h1>
                </button>
            </div>
            <button id="orderCancel" class="cancleBtn">뒤로가기</button>
        </div>
    </div>

    <!-- 세트 사이드 선택 모달 -->
    <div id="setModal" class="setContent">
        <h1 id="setH1Text">사이드메뉴를 선택하세요</h1>
        <div class="addToCartContainer" id="selectSide">
        </div>
        <button id="sideCancel" class="cancleBtn">뒤로가기</button>
    </div>

    <!-- 세트 음료 선택 모달 -->
    <div id="beverageModal" class="setContent">
        <h1 id="beverageH1Text">음료를 선택하세요</h1>
        <div class="addToCartContainer" id="selectBeverage"></div>
        <button id="beverageCancel" class="cancleBtn">뒤로가기</button>
    </div>

    <!-- 세트 선택 내용 모달 -->
    <div id="setEndModal" class="setContent">
        <div class="setMainCon">
            <h1 class="setMaintitle" id="setEndH1">1955버거세트</h1>
            <h1 class="setMainprice" id="setEndH2">￦7,800</h1>
            <img class="setMainImg" src="/BugerSetImg/1955버거세트.png">
        </div>
        <div class="setSubCon">
            <div class="setSubItem">
                <img src="/BugerImg/1955버거.png" class="setSubImg">
                <h3 class="setSubTxt" id="setEndH3">1955버거</h3>
            </div>
            <div class="setSubItem">
                <img src="/SideImg/후렌치후라이.png"class="setSubImg">
                <h3 class="setSubTxt" id="setEndH4">후렌치후라이</h3>
            </div>
            <div class="setSubItem">
                <img src="/BeverageImg/코카콜라.png"class="setSubImg">
                <h3 class="setSubTxt" id="setEndH5">코카콜라</h3>
            </div>
        </div>
        <div class="paymentBtnCon" id="paymentBtnDiv">
            <button class="canBtn" id="setBackBtn">돌아가기</button>
            <button class="CartBtn" id="setEndBtn">장바구니에 추가</button>
        </div>
    </div>

    <!-- 결제확인 모달 -->
    <div id="paymentModal" class="setContent">
        <h1 id="paymentTitle" id="paymentH1Text">주문</h1>
        <div class="addToCartContainer" id="showCart">
            <ul id="cartItemsList">
                <li>
                    <img src="/BugerSetImg/1955버거세트.png">
                    <h1 id="paymentH1">1955버거세트</h1>
                    <h3><p id="paymentH2">가격: ￦7,800</p>
                    &nbsp&nbsp&nbsp <button class='decincBtn removeItem' data-item='${item.cartName}'>-</button>
                    1<button class='decincBtn addItem' data-item='${item.cartName}'>+</button></h3>
                </li>
            </ul>
        </div>
        <div class="paymentTextCon">
            <h1 id="paymentConH1">합계</h1>
            <h1 id="paymentSumText"><span>￦7,800</span></h1>
        </div>
        <div class="paymentBtnCon">
            <button class="canBtn" id="paycanBtn">돌아가기</button>
            <button class="CartBtn" id="payCartBtn">결제하기</button>
        </div>
    </div>

    <!-- 결제 모달 -->
    <div id="cardPayModal" class="setContent">
        <h1 id="cardPayTitle">결제하실 카드를<br>투입구에 넣어주세요.</h1>
        <img src="/MacImg/macPayment.png" id="cardPayImg">
    </div>

    <!-- 실습 종료 모달 -->
    <div id="endModal" class="setContent">
    </div>

    <!-- 1. 미션 안내모달 -->
    <div id="selectSetInfo" class="missionModal">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p>버거는 <strong>1955버거</strong>를 선택해주시고,<br>
                사이드는 <strong>후렌치 후라이</strong>를 선택,<br>
                음료는 <strong>코카콜라</strong>를 선택하시고<br>
                <strong>주문하기 </strong>버튼을 눌러주세요.<br></p></div>
            <button id="selectSetInfoBtn">확인</button>
        </div>
    </div>

    <!-- 3. 세트선택 안내모달 -->
    <div id="selectSetModal" class="missionModal">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>세트선택</strong>을 선택해주세요.</p></div>
            <button id="selectSetModalBtn">확인</button>
        </div>
    </div>

    <!-- 4. 사이드 선택 안내모달 -->
    <div id="selectSideModal" class="missionModal">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>후렌치 후라이</strong>를 선택해주세요.</p></div>
            <button id="selectSideModalBtn">확인</button>
        </div>
    </div>

    <!-- 5. 음료 선택 안내모달 -->
    <div id="selectBeverageModal" class="missionModal">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>코카콜라</strong>를 선택해주세요.</p></div>
            <button id="selectBeverageModalBtn">확인</button>
        </div>
    </div>

    <!-- 6. 장바구니에 추가 안내모달 -->
    <div id="selectCartModal" class="missionModal">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>장바구니에 추가</strong>를 선택해주세요.</p></div>
            <button id="selectCartModalBtn">확인</button>
        </div>
    </div>

    <!-- 7. 주문완료 안내모달 -->
    <div id="selectpaymentModal" class="missionModal">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>주문하기</strong>버튼을 눌러주세요.</p></div>
            <button id="selectpaymentModalBtn">확인</button>
        </div>
    </div>

    <!-- 8. 결제하기 안내모달 -->
    <div id="selectEndModal" class="missionModal">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>결제하기</strong>버튼을 눌러주세요.</p></div>
            <button id="selectEndModalBtn">확인</button>
        </div>
    </div>

    <!-- 9. 실습 종료 안내모달 -->
    <div id="selectorderNumModal" class="missionModal">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer">
                <p>주문번호는 123번 입니다. 주문번호를 확인하시고<br>음식을 가져가주세요.</p>
            </div>
            <button id="selectorderNumModalBtn">실습 종료</button>
        </div>
    </div>

    <div id="lodingPlace">
        <div id="spinner"></div>
    </div>

    <script src="main.js"></script>
</div>

<audio id="audioMission" src="/voice/macBasic2_mission.mp3"></audio>
<audio id="audioIntro" src="/voice/macBasic2_selBuger.mp3"></audio>
<audio id="audioBurger" src="/voice/macBasic2_sel1955.mp3"></audio>
<audio id="audioSetSel" src="/voice/macBasic2_selSet.mp3"></audio>
<audio id="audioSide" src="/voice/macBasic2_selSide.mp3"></audio>
<audio id="audioCoke" src="/voice/macBasic2_selCoke.mp3"></audio>
<audio id="audioCart" src="/voice/macBasic2_selCart.mp3"></audio>
<audio id="audioEnd" src="/voice/macBasic2_selEnd.mp3"></audio>
<audio id="audioPayment" src="/voice/macBasic2_selPayment.mp3"></audio>
<audio id="audioCard" src="/voice/macBasic2_selCard.mp3"></audio>
<audio id="audio123" src="/voice/macBasic2_sel123.mp3"></audio>

<script src="/jquery-3.7.1.min.js"></script>
<script src="/macBasicCart.js"></script>
</body>
</html>
